<!DOCTYPE html>
<head>
    <title>Register - Secure notes app</title>
</head>
<body>
    <h1>Secure notes app</h1>
    <p>This is the register page.</p>
    <form action="/register" method="POST">
        <label for="username">Username: </label>
        <input type="text" id="username" name="username"><br>

        <label for="password">Password: </label>
        <input type="password" id="password" name="password"><br>

        <label for="repeat_password">Repeat password: </label>
        <input type="password" id="repeat_password" name="repeat_password"><br>

        <input type="submit" value="Submit">
    </form>
</body>