{% extends "_base.html" %}
{% block content %}

<!-- <h1>Add a New Note</h1>
    <form method="post">
        {{ form.hidden_tag() }}
        {{ form.title.label }} {{ form.title }}
        {{ form.content.label }} {{ form.content }}
        {{ form.submit }}
    </form>
    <a href="{{ url_for('notes.home') }}">Go Home</a> -->

<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <main class="form-signin w-100 m-auto">
        <form role="form" method="post" action="">
            {{ form.hidden_tag() }}
            <h1 class="h3 mb-3 fw-normal text-center">Add a New Note</h1>
    
            <div class="form-floating">
            {{ form.title(placeholder="Title", class="form-control mb-2") }}
            {{ form.title.label }}
            {% if form.title.errors %}
                {% for error in form.title.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
                {% endfor %}
            {% endif %}
            </div>
    
            <div class="form-floating">
            {{ form.content(placeholder="Content", class="form-control mb-2") }}
            {{ form.content.label }}
            {% if form.content.errors %}
                {% for error in form.content.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
                {% endfor %}
            {% endif %}
            </div>
    
            <button class="w-100 btn btn-lg btn-primary" type="submit">Save Note</button>
        </form>
        <a href="{{ url_for('notes.home') }}" class="text-center mt-3 d-block">Go Home</a>
        </main>
    </div>
    <div class="col-md-4"></div>
</div>
    
{% endblock %}