{% extends "_base.html" %}
{% block content %}

  <form role="form" method="post" action="">
    {{ form.csrf_token }}
    <h1 class="h3 mb-3 fw-normal text-center">Enter note password</h1>

    <div class="form-floating">
      {{ form.password(placeholder="password", class="form-control mb-2") }}
      {{ form.password.label }}
        {% if form.password.errors %}
          {% for error in form.password.errors %}
            <div class="alert alert-danger" role="alert">
              {{ error }}
            </div>
          {% endfor %}
        {% endif %}
    </div>
    <button class="w-100 btn btn-lg btn-primary" type="submit">Submit</button>
  </form>
  <br>
  <a href="{{ url_for('notes.home') }}"><button type="button" class="w-100 btn btn-lg btn-primary">Go Home</button></a>

{% endblock %}