python-dotenv==1.0.0
Flask==3.0.0
Flask-Login==0.6.3
Flask-SQLAlchemy==3.1.1
Flask-WTF==1.2.1
pyotp==2.9.0
qrcode==7.4.2
passlib==1.7.4
WTForms==3.1.1
pycryptodome==3.19.0
bleach==4.1.0
markdown==3.4.1
gunicorn==21.2.0